/* Import base do celular */
@import url(./celular.css);

.celular {
    background-color: var(--preto);
}

/* ---------- HEADER ---------- */
header {
    margin-top: 16px;
    padding: 10px 3px;
}

.quote-box {
    background: url("../img/paisagem-template.jpg") center/cover;
    padding: 30px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--branco);
    text-align: center;
    box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.5);
}

.quote-box p {
    font-size: medium;
    line-height: 1.4;
    font-weight: 500;
}

.quote-box h3 {
    margin-top: 10px;
    font-size: small;
    opacity: 0.8;
}

/* ---------- MAIN (Lista do Diário) ---------- */
main {
    margin-top: 10px;
    padding: 20px 12px 15px;
    background: var(--seagreen);
    height: 360px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--preto) var(--seagreen);
}

.card-diario {
    background: #5844CC;
    background: linear-gradient(0deg, rgba(88, 68, 204, 1) 0%, rgba(32, 178, 170, 1) 33%, rgba(119, 224, 231, 1) 65%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 18px;
    color: var(--preto);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
    position: relative; 
}

.card-diario:hover {
    transform: scale(1.05); /* Cresce sem empurrar nada */
    z-index: 3; /* Fica por cima dos outros */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card-diario .data {
    font-weight: bold;
    color: var(--preto);
    margin-bottom: 3px;
}

.card-diario .titulo {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 6px;
}

.card-diario .texto {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 10px;
    overflow-wrap: break-word; /*Quebra a linha comprida*/
    word-break: break-word; 
    display: -webkit-box;
    -webkit-line-clamp: 3; /*Quantidade de linhas que pode ter*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card-diario .emoji {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.card-diario a {
    text-decoration: none;
    color: var(--preto);
    position: absolute;
    right: 15px;
    bottom: 10px;
}

/* ---------- FOOTER ---------- */
footer {
    background: var(--seagreen);
    padding: 12px 12px 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn-voltar {
    background: transparent;
    color: var(--branco);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer h1 {
    color: var(--branco);
}

footer button {
    background: none;
    width: 44px;
    height: 44px;
    border: none;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer i {
    scale: 2.5;
}

/*------ Mensagem Pop-up: ------*/
#popup {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: fadeIn 0.5s ease;
    display: none; 
}

#popup.show {
    display: flex; 
}

.popup-box {
    background: var(--verde-claro);
    width: 85%;
    max-width: 275px;
    padding: 20px;
    border-radius: 18px;
    animation: slideUp 0.5s ease;
    text-align: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
    width: 30px;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: red;
    color: white;
}

.popup-botoes {
    display: flex;
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column;
    font-size: smaller;
}

.popup-botoes a {
    margin: 5px 0;
    text-decoration: none;
    background-color: var(--azul);
    padding: 5px 10px;
    color: var(--branco);
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.popup-botoes a:hover {
    transform: scale(1.05); 
    z-index: 3; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    background-color: var(--azul-verde);
    color: var(--preto);
}

/*--- Animações para dar a impressão de pop-up mobile: ---*/
@keyframes fadeIn {
    from { opacity: 0 }
    to   { opacity: 1 }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0 }
    to   { transform: translateY(0); opacity: 1 }
}
