/* Importação do layout base do celular */
@import url(./celular.css);

/* ---------- HEADER ---------- */
header {
    display: flex;
    padding: 35px 20px 15px 20px;
    gap: 10%;
    color: var(--branco);
    align-items: center;
}

h1 {
    font-size: 23px;
}

.btn-voltar {
    background: transparent;
    color: var(--branco);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-voltar i {
    scale: 2.2;
}

/* ---------- MAIN ---------- */
main {
    background: var(--preto);
    height: 500px;
    overflow-y: scroll;
}

/* Caixa do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Campos */
.campo {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 8px;
    background-color: var(--cinza-claro);
}

.campo.data {
    background-color: var(--azul-claro);
    gap: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.campo label {
    color: var(--preto);
    font-size: 14px;
    font-weight: bold;
}

input[type="date"],
textarea {
    background: var(--branco);
    border: none;
    color: var(--preto);
    padding: 12px;
    border-radius: 14px;
    font-size: 15px;
    outline: none;
    resize: none;
}

input[type="date"] {
    padding: 0;
    width: 50%;
    background-color: transparent;
}

input[type="date"],
.campo.data label {
    font-size: 12px;
}

/* Ajuste específico para textarea */
textarea {
    min-height: 110px;
    line-height: 1.4;
}

/* ---------- Seletor de Emojis ---------- */
.emoji-selector {
    display: flex;
    justify-content: space-between;
}

.emoji-item {
    font-size: 28px;
    padding: 10px;
    background: var(--cinza-escuro);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}

.emoji-item:hover {
    background: var(--branco);
    transform: scale(1.1);
}

.emoji-item.ativo {
    border: 2px solid var(--azul);
    background: var(--azul-claro);
    transform: scale(1.15);
}

/* Botão */
form button {
    background: var(--azul);
    border: none;
    padding: 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--branco);
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: -2px;
    margin-bottom: 20px;
}

form button:hover {
    background: var(--azul-claro);
    color: var(--preto);
}

/* Scrollbar */
main::-webkit-scrollbar {
    width: 5px;
}
main::-webkit-scrollbar-thumb {
    background: var(--preto);
    border-radius: 10px;
}
