@import url(./celular.css);

header {
    padding-top: 30px;
}

.cabecalho {
    display: flex;
    padding: 0 20px;
    gap: 10%;
    color: var(--branco);
    align-items: center;
}

.btn-voltar {
    color: var(--branco);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-voltar i {
    scale: 2;
}

.add-foto-btn {
    margin-top: 15px;
    background: var(--rosa-claro);
    padding: 10px;
    color: var(--branco);
}

.add-foto-btn button {
    border: none;
    background: none;
    color: var(--branco);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
}

.add-foto-btn i {
    scale: 2;
}

/* POPUP */
.popup-foto {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.popup-foto.show {
    display: flex;
}

.popup-box {
    background: var(--branco);
    padding: 20px;
    width: 85%;
    max-width: 360px;
    border-radius: 18px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
    width: 30px;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: red;
    color: white;
}

.popup-box input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

.btn-salvar {
    width: 100%;
    background: var(--vermelho);
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-top: 15px;
    color: var(--branco);
    font-size: 16px;
    cursor: pointer;
}

.btn-salvar:hover {
    background-color: var(--rosa-claro);
    color: var(--preto);
    font-weight: bold;
}

/* LISTA DE FOTOS */
main {
    background: var(--preto);
    padding: 10px;
    height: 483px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.ano-box {
    margin-bottom: 20px;
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 10px;
    padding: 10px 15px;
}

.sem-registro {
    margin: 10px 0;
    color: var(--preto);
}

.grade-fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 324px;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--rosa-claro) var(--preto);
}

.foto-card {
    background: var(--vermelho);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    width: 140px;
    height: 190px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.foto-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.foto-card .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    color: var(--preto);
    font-weight: bold;
}
