@import url(./celular.css);

.logo.login {
    background-color: var(--branco);
    margin: 15% auto;
    border-radius: 10px;
    text-align: center;
    font-size: 3em;
    width: 1.5em;
    height: auto;
    font-weight: bold;
}

.logo span:nth-child(1) {
    color: var(--azul-claro);
}

.logo span:nth-child(2) {
    color: var(--rosa-claro);
}

main {
    background-color: var(--branco);
    border-top-right-radius: 75px;
    padding: 2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

form input {
    width: 80%;
    margin: 10px 0;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 25px;
    padding: .5em 1em;
}

button {
    padding: .5em 4em;
    background-color: var(--rosa-claro);
    border-radius: 25px;
    border: none;
    color: var(--branco);
    font-weight: bold;
    margin: 20px 0;
    font-size: 20px;
    cursor: pointer;
}

section {
    margin-bottom: 10px;
}

section a {
    color: gray;
    font-style: italic;
    font-size: small;
    cursor: pointer;
}

/*--------- Cadastrar: --------*/
.desativado {
    display: none;
}