@import url(./celular.css);

header {
    display: flex;
    padding: 35px 20px 15px 20px;
    gap: 10%;
    color: var(--branco);
    align-items: center;
}

h1 {
    font-size: 27px;
}

main {
    background-color: var(--preto);
    padding-top: 15px;
    height: 74.4%;
}

.btn-voltar {
    background: transparent;
    color: var(--branco);
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-voltar i {
    scale: 2.5;
}

.lista-btn-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.add-btn {
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 14px;
    background: var(--vermelho);
    color: var(--branco);
    border-radius: 12px;
    border: none;
    font-size: 17px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.lista-medicamentos {
    max-width: 360px;
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    scrollbar-width: thin;
    background-color: var(--branco);
}

.medicamento-item {
    background: var(--rosa-claro);
    margin: 12px 0;
    padding: 10px;
    border-radius: 10px 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.medicamento-item strong {
    font-size: 17px;
}

.medicamento-item.tomado {
    background-color: var(--verde-claro) !important; 
    color: var(--branco);
}

.medicamento-item.selecionado {
    border-color: var(--azul); 
    opacity: 0.7;
}

.medicamento-item.tomado .medicamento-meta,
.medicamento-item.tomado strong {
    color: var(--branco) !important;
}

.banner-remedio {
    width: 86px;
    height: 86px;
    border: 2px solid var(--vermelho);
    margin: 5px 8px;
    border-radius: 10px;
    overflow: hidden;
}   

.banner-remedio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.medicamento-meta {
    font-size: 13px;
    color: var(--preto);
}

.btn-area {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    margin-bottom: -5px;
}

.btn-edit, 
.btn-delete {
    border: none;
    background: transparent;
    padding: 5px 10px;
    font-size: large;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.popup-box {
    background: var(--branco);
    color: var(--preto);
    padding: 25px;
    border-radius: 16px;
    width: 85%;
    max-width: 350px;
    animation: slideUp 0.5s ease;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
    width: 30px;
    transition: all 0.3s ease-in;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: red;
    color: white;
}

.popup-box input,
.popup-box select {
    background-color: var(--cinza-claro);
    color: var(--preto);
    border: none;
    border-radius: 10px;
}

.popup-box #hora {
    width: 40%;
}

.popup-box input {
    padding: 5px 10px;
    margin: 5px 0;
    width: 80%;
}

.popup-box select {
    padding: 5px;
}

.popup-box label {
    height: 30px;
    width: 70%;
    display: block;
    color: var(--preto);
}

.popup-box label input {
    padding: 5px 10px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.salvar {
    margin-top: 10px;
    padding: 12px;
    width: 100%;
    background: var(--vermelho);
    color: var(--branco);
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0 }
    to   { transform: translateY(0); opacity: 1 }
}
